

	@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth !important;
}

body {
	font-family: 'Karla', sans-serif;
}

a {
	text-decoration: none !important
}


/* top-nav styles */

.top-nav {
	border-bottom: 1px solid #e5e5e5;
}

.top-left {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.top-nav .top-left li i {
	color: #141E61;
	margin-right: 4px;
}

.top-nav .top-left li {
	list-style: none;
	display: inline-block;
	font-size: small;
	color: #19191a;
	font-weight: 500;
	padding: 14px 0 12px;
	margin-right: 64px;
	position: relative;
}

.top-nav .top-left li:after {
	position: absolute;
	right: -32px;
	top: 0;
	width: 1px;
	height: 100%;
	background: #e5e5e5;
	content: "";
}

.top-nav .top-right {
	text-align: right;
}

.top-nav .top-right .top-social {
	display: inline-block;
	margin-right: 35px;
	padding: 13px 0;
}

.top-nav .top-right .top-social a {
	display: inline-block;
	font-size: 16px;
	color: #19191a;
	margin-left: 15px;
}

.top-nav .top-right .bk-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	padding: 16px 28px 15px;
	background: #0F044C;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.top-nav .top-right .language-option {
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
	padding: 13px 0px 11px;
	position: relative;
}

.top-nav .top-right .language-option img {
	height: 26px;
	width: 26px;
	border-radius: 50%;
	margin-right: 10px;
}

.top-nav .top-right .language-option span {
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
}

.menu-item .nav-menu {
	text-align: right;
}

.logo {
	font-size: 25px;
	font-weight: bold;
	color: #141E61 !important;
}

.logo-white {
	font-size: 25px;
	font-weight: bold;
	color: #fff !important;
}


/* FOOTER STYLES */

.content {
	min-height: calc(100vh - 390px);
}

footer {
	background-color: #0F044C;
	height: 390px;
}

.footer-text {
	padding: 80px 0 30px;
}

.footer-text .ft-about {
	margin-bottom: 30px;
}

.footer-text .ft-about p {
	color: #aaaab3;
	margin-bottom: 20px;
}

.footer-text .ft-about .fa-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #5A4D48;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 7px;
}

.footer-text .ft-contact {
	margin-bottom: 30px;
}

.footer-text .ft-contact h6 {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}

.footer-text .ft-contact ul li {
	font-size: 16px;
	color: #aaaab3;
	line-height: 32px;
	list-style: none;
}

.footer-text .ft-newslatter h6 {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}

.footer-text .ft-newslatter p {
	color: #aaaab3;
	margin-bottom: 20px;
}

.footer-text .ft-newslatter .fn-form {
	position: relative;
}

.footer-text .ft-newslatter .fn-form input {
	width: 100%;
	height: 50px;
	border-radius: 2px;
	background: #fff;
	border: none;
	padding-left: 20px;
	font-size: 16px;
	color: #707079;
}

.footer-text .ft-newslatter .fn-form button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	background: #141E61;
	color: #ffffff;
	padding: 0 16px;
	height: 50px;
	border: none;
	border-radius: 0 2px 2px 0;
}

.copyright-option {
	background: rgba(16, 20, 31, 0.2);
	padding: 20px 0;
}

.copyright-option ul li {
	list-style: none;
	display: inline-block;
	margin-right: 34px;
}

.copyright-option .co-text {
	font-size: 16px;
	color: #707079;
	text-align: right;
}

.copyright-option .co-text p {
	font-size: 16px;
	font-family: "Cabin", sans-serif;
	color: #6b6b6b;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

#sub-container {
	background-image: url(../images/customer.png);
	background-repeat: no-repeat;
	/* background-color: #5089C6;*/
	background-position: right;
	background-size: contain;
	height: 900px;
}

.book-now {
	width: 100%;
	padding: 20px;
}

#contents {
	display: inline-block;
	background-color: #001E6C;
	/*margin-left: 900px;*/
	border-radius: 20px;
	width: 500px;
	max-width: 100%;
}

#contents input {
	/*margin-left: 1em;*/
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: .8em;
	font-size: 1.2em;
	padding: .3em;
	width: 75%;
	font-weight: 300;
	border: none;
	background: #fff;
	border-radius: 10px;
}

#contents select {
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: .8em;
	font-size: 1.2em;
	padding: .3em;
	width: 20%;
	font-weight: 300;
	border: none;
	background: #fff;
	border-radius: 10px;
}

.availability input {
	color: #001E6C;
	background-color: white;
	font-weight: 600;
	font-size: 1.1em;
	width: 100% !important;
}

.checkin-date,
.checkout-date,
.adults,
.rooms,
.availability {
	margin: 10px;
}

.book-now img {
	height: 30px;
}

#contents label {
	font-size: 1.2em;
	color: white;
}

#comment {
	width: 30em;
}


/*#dateinpicker , #dateoutpicker , select {

  background-color:lightsalmon;
}

#availability{

    background-color:lightsalmon;
}*/

#wrapper {
	font-weight: 300;
	width: 800px;
	max-width: 100%;
	padding: 20px;
	margin: auto;
	/*background-color:rgb(162, 206, 151);*/
	background-color: #001E6C;
	border-radius: 20px;
}

#wrapper label {
	font-size: 1.2em;
	color: white;
}

h3 {
	color: white;
}

section {
	padding: 40px;
	color: white;
}

.field-label {
	width: 300px;
}

.ui-datepicker-title {
	padding: 10px;
	text-align: center;
	background-color: white;
}

.ui-datepicker-prev {
	padding: 10px;
	text-align: center;
	background-color: white;
	float: left;
}

#wrapper span {
	color: red;
}

.ui-datepicker-next {
	padding: 10px;
	text-align: center;
	float: right;
	background-color: white;
}

.ui-datepicker .ui-datepicker-title select {
	color: #000;
	font-weight: 400
}

.ui-datepicker-calendar {
	background-color: white;
}

.ui-datepicker-calendar td {
	padding: 5px 10px;
}

.ui-datepicker-calendar td a:hover {
	background: white;
}

.ui-datepicker-calendar td {
	font-size: 1em;
}

#output {
	color: white;
}

.question,
.extra {
	color: white;
}

#wrapper input,
#wrapper select {
	margin: 10px;
	font-size: 1.2em;
	width: auto;
	border: none;
	border-radius: 10px;
	padding: .3em;
}

input[type="checkbox"] {
	margin: 5px;
}

textarea {
	width: 250px;
	border: none;
	border-radius: 10px;
	padding: .3em;
	font-size: 1.2em;
}

#booking {
	margin-top: 1em;
}

#booking input {
	width: 200px;
}

#kids option {
	width: 400px;
}

#reservation_form {
	display: none;
}

#response {
	display: none;
	color: white;
	background-color: #0F044C;
	text-align: center;
}

.footer-text .ft-contact ul {
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 992px) {
	.top-nav {
		display: none;
	}
	footer {
		height: 700px !important;
	}
	.copyright-option ul li {
		display: block;
	}
	.copyright-option ul {
		margin: 0;
		padding: 0;
	}
	#sub-container {
		background-image: none;
		height: auto;
	}
	#contents {
		margin-bottom: 300px;
	}
	#wrapper {
		margin-bottom: 200px;
	}
	@media (max-width: 1200px) {
		#sub-container {
			background-image: none;
		}
	}

